{% include "base.html" %}
{% load stattools %}
<table>
{% if movies %}
	{% for i in movies %}
		{% with mid=i.mid %}
		<tr>
		<td><img src="/static//movie/thumb/{{i.pid}}.jpg"/></td>
		<td><a href ="movie/?mid={{i.mid}}">{{i.title}}</a></td>

		{% if umovie|get_item:mid %}
		<td>Watched</td>
		{% else %}
			<td id="seen{{i.mid}}"><r class="btn" id="watched">
				<mid id="{{i.mid}}" type="hidden"/>
				Watched
			</r></td>		
		{% endif %}
		{% endwith %}
		</tr>
	{% endfor %}
{% endif %}
</table>




<script>

	    $("#watched").live('click', function(){
	
					mid = $(this).find('mid').attr('id');
	               	$.post('/moviewatched', { 
		                'csrfmiddlewaretoken': '{{ csrf_token }}',
		                'movie': mid,},
						function(data) {
							replace = "Watched"
							$('#seen' + mid).replaceWith(replace)
						
   					     }, "json");

	            });

</script>