<a href="{% url person person.pid %}">{{person.name}}</a>
<a href="{{person.wikipedia_link}}">Wiki</a>


{% include "base.html" %}
<form action="/swappics/" method="post">{% csrf_token %}
<input type=hidden name="newcount" id="new" value="{{newpics}}"/>
<input type=hidden name="oldcount" id ="old" value="{{person.images}}"/>
<input type=hidden name="pid" id ="pid" value="{{person.pid}}"/>
<div>
<ul class="thumbnails">
<table><tr>
{% for i in range %}
<td>
<input type="checkbox" name="old" id="old{{i}}" value="{{i}}"/>
<label for="old{{i}}" onclick="document.getElemenstById.old{{i}}.checked = true;"><img src="/static//person/{{person.pid}}/{{i}}.jpg" alt="" width="180"/></label>
</td>

{% endfor %}
</ul>
<table>
<ul class ="thumbnails">

{% for i,j in picinfo.items %}


<td><input type="checkbox" name="new" id="new{{i}}" onclick="document.getElemenstById.new{{i}}.checked = true;" value ="{{j.link}}" />
	<label for="new{{i}}" onclick="document.getElemenstById.new{{i}}.checked = true;">
	<img src ="/static//person/{{person.pid}}/tmp/{{i}}.jpg" title="{{j.title}}"></a></label>
<li>{{j.domain}}</li>
<li>{{j.width}}x{{j.height}}</li>
</td>
{% endfor %}

</ul>

</table>
<style>
#sub {width: 1000px;
		height: 200px;}
</style>
<input type="submit" id="sub" value="Submit"/>

</div>