{% include "base.html" %}

<img src ="/static//vgame/{{videogame.vid}}/1.jpg">
<li>{{videogame.title}}</li>

<li><a href="http://www.mobygames.com/game/{{videogame.mobygames_id}}">Mobygames link</a></li>
{% if videogame.giantbomb_id %}
<li><a href="http://www.giantbomb.com/id/{{videogame.giantbomb_id}}">Giantbomb Link</a></li>
{% endif %}
{% if videogame.imdb_id %}
<li><a href="http://http://www.imdb.com/title/tt{{videogame.imdb_id}}">iMDb Link</a></li>
{% endif %}
{% if videogame.steam_id %}
<li><a href="http://www.steam.com/{{videogame.steam_id}}">Steam Link</a></li>
{% endif %}
{% if videogame.wikipedia_link %}
<li><a href="http://en.wikipedia.org/wiki/{{videogame.wikipedia_link}}">Wikipedia Link</a></li>
{% endif %}

<li>{{videogame.year}}</li>

<li>{{videogamemat.wins}}</li>
<li>{{videogamemat.losses}}</li>
<li>{{videogamemat.elorating}}</li>
<div class="span5">
<table class="table table-striped">
	<thead><td>Winners</td><td>Losers</td></thead>
	<tbody>
{% for i in matchups %}
	<tr id="{{i.matchupid}}"> 	
		<td>{{i.winner.title}}</td><td>{{i.loser.title}}</td>
		<td><r class="btn" id="reverse">
			<wid id="{{i.winner.mid}}" type="hidden"/>
			<lid id="{{i.loser.mid}}" type="hidden"/>
			<elo id="{{i.elo}}" type="hidden"/>
			Reverse
		</r></td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>
<script>

	    $("#reverse").live('click', function(){
		
					lid = $(this).find('lid').attr('id');
					wid = $(this).find('wid').attr('id');
					elo = $(this).find('elo').attr('id');
	               	$.post('/reversevideogamevote', { 
		                'csrfmiddlewaretoken': '{{ csrf_token }}',
		                'winner': wid,
						'loser': lid, 
						'elo':elo},
						function(data) {
							replace = "<tr id=\"" + data.matchupid + "\"><td>" + data.winner.title + "</td><td>" + data.loser.title + "</td><td> <r class=\"btn\" id=\"reverse\"> <wid id=\"" + data.winner.mid + "\" type=\"hidden\"/> <lid id=\"" + data.loser.mid + "\" type=\"hidden\"/> <elo id=\"" + data.elo + "\" type=\"hidden\"/>Reverse</r></td></tr>"
							$('#' + data.matchupid).replaceWith(replace)
							
   					     }, "json");

	            });

</script>